<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>東方妖々夢</string>
	<key>CFBundleIdentifier</key>
	<string>com.zun.th07</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>UISupportedInterfaceOrientations~iphone</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleExecutable</key>
	<string>th07</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleIconFile</key>
	<string>th07</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ja-JP</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>(C)opyright 2002-03 ZUN All rights reserved.</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>GCSupportsGameMode</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
